*{
    background-color: rgb(36, 42, 61);
    text-decoration: none;
    margin: 0%;
    padding: 0%;
    box-sizing: content-box;
}

.material-icons{
    font-size: 20px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    word-wrap: normal;
    white-space: nowrap;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
}

.logo{
    display: inline-block;
    color: royalblue;
    font-size: 250%;
    font-weight: 800;
    transition: .3s;
}

.logo:hover{
    color: rgb(150, 228, 241);
    font-size: 255%;
    transition: .3s;
}

.user{
    float: right;
    position: absolute;
    top: 2.4%;
    right: 0.5%;
    font-size: 150%;
    font-weight: 700;
    word-spacing: 20px;
    text-decoration: none; 
    padding: 7px;
}

.account{
    color: rgb(50, 119, 184);
    transition: .25s;
}

.account:hover{
    color: rgb(113, 255, 248);
    transition: .25s;
    font-weight: 800;
}

.top-hud{
    text-align: center;
    font-size: 185%;
    word-spacing: 40px;
    margin-top: 2%;
    margin-left: -1.5%;
    text-transform: capitalize;
}

.links{
    position: relative;
    top: 10px;
    display: inline-block;
    color: rgb(50, 119, 184);
    font-weight: 600;
    transition: .25s;
}

.links:hover{
    color: rgb(72, 211, 211);
    transition: .25s;
    font-weight: 900;
}

.search-bar{
    display: block;
    position: relative;
    z-index: 5;
    float: right;
    margin-top: -6%;
    margin-right: 27.5%;
    font-size: 120%;
    width: 47%;
    border: solid 3px rgb(93, 93, 240);
    color: rgb(255, 255, 255);
    padding: 0.5%;
    transition: .5s;
    outline: none;
    border-radius: 20px;
}

.search-bar:hover{
    transition: .5s;
    border: solid 3px rgb(113, 255, 248);
}

.search-bar:active{
    transition: 10s;
    border: solid 3px red;
}

.populares{
    display: inline-block;
    word-spacing: 3px;
}

.estilos{
    display: inline-block;
    word-spacing: 3px;
}

.instrumentos{
    display: inline-block;
    word-spacing: 3px;
}

.upload{
    display: inline-block;
    word-spacing: 3px;
}

.foca{
    margin-top: -4%;
    border-radius: 17px;
    height: 5%;
    width: 13%;
    transition: 2.5s;
    position: relative;
    z-index: 5;
}

.foca:hover{
    width: 100%;
    height: 90%;
    transition: 10s;
}

.link-instrumento{
    color: rgb(38, 92, 143);
}

.link-instrumento:hover{
    color: rgb(55, 161, 161);
}

.musicas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 200%;
    margin-top: 60px;
}

.imgs{
    max-width: 45px;
    vertical-align: -33%; /* alinhar a imagem na vertical com o texto ao lado */
    border-radius: 10px;
}

.musicafix{
    text-align: center;
    margin-top: 50px;
    margin-right: 4px;
}

.um{
    color: rgb(0, 255, 42);
}

.dois{
    color: rgb(66, 206, 23);
}

.tres{
    color: rgb(77, 206, 38);
}

.quatro{
    color: rgb(108, 161, 39);
}

.cinco{
    color: rgb(226, 226, 64);
}

.seis{
    color: rgb(223, 172, 35);
}

.sete{
    color: rgb(182, 138, 19);
}

.oito{
    color: rgb(182, 111, 19);
}

.nove{
    color: rgb(182, 35, 30);
}

.dez{
    color: rgb(255, 8, 0);
}

/* MÚSICA 1 */

.m1{
    display: inline-block;
    top: 150px;
}

.imgm1{
    display: inline-block;
    width: auto;
    top: -9px;
    right: 12px;
}

.nomem1{
    transition: .5s;
    text-decoration: none;
    border: 3px solid rgb(93, 93, 240);
    color: rgb(50, 119, 184);
    padding: 15px;
    padding-left: 56px;
    padding-right: 55px;
    border-radius: 40px;
    font-weight: normal;
}

.nomem1:hover{
    color: rgb(165, 222, 236);
    border: 3px solid rgb(113, 255, 248);
    transition: .5s;
}

/* MÚSICA 2 */

.m2{
    display: inline-block;
    top: 250px;
}

.imgm2{
    display: inline-block;
    width: auto;
    right: 12px;
    top: -9px;
}

.nomem2{
    transition: .5s;
    text-decoration: none;
    border: 3px solid rgb(93, 93, 240);
    color: rgb(50, 119, 184);
    padding: 15px;
    padding-left: 57px;
    padding-right: 57px;
    border-radius: 40px;
    font-weight: normal;
}

.nomem2:hover{
    color: rgb(165, 222, 236);
    border: 3px solid rgb(113, 255, 248);
    transition: .5s;
}

/* MÚSICA 3 */

.m3{
    display: inline-block;
    top: 250px;
}

.imgm3{
    display: inline-block;
    width: auto;
    right: 12px;
    top: -9px;
}

.nomem3{
    transition: .5s;
    text-decoration: none;
    border: 3px solid rgb(93, 93, 240);
    color: rgb(50, 119, 184);
    padding: 15px;
    padding-left: 62px;
    padding-right: 62px;
    border-radius: 40px;
    font-weight: normal;
}

.nomem3:hover{
    color: rgb(165, 222, 236);
    border: 3px solid rgb(113, 255, 248);
    transition: .5s;
}

.m4{
    display: inline-block;
}

.imgm4{
    display: inline-block;
    width: auto;
    right: 12px;
    top: -9px;
}

.nomem4{
    transition: .5s;
    text-decoration: none;
    border: 3px solid rgb(93, 93, 240);
    color: rgb(50, 119, 184);
    padding: 15px;
    padding-left: 60px;
    padding-right: 56px;
    border-radius: 40px;
    font-weight: normal;
    width: 884px;
}

.nomem4:hover{
    color: rgb(165, 222, 236);
    border: 3px solid rgb(113, 255, 248);
    transition: .5s;
}