*{
    background-color: rgb(36, 42, 61);
    text-decoration: none;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    width: auto;
    height: auto;
}

.material-icons{
    font-size: 20px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    word-wrap: normal;
    white-space: nowrap;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
}

.logo{
    display: inline-block;
    color: royalblue;
    font-size: 250%;
    font-weight: 800;
    transition: .3s;
}

.logo:hover{
    color: rgb(150, 228, 241);
    font-size: 255%;
    transition: .3s;
}

.user{
    position: relative;
    display: flex;
    left: -4%;
    top: 3%;
    float: right;
    font-weight: 700;
    text-decoration: none; 
}

.login{
    color: rgb(50, 119, 184);
    transform: scale(2.5);
    transition: transform .3s;
}

.login:hover{
    color: rgb(113, 255, 248);
    transform: scale(3);
    transition: transform .3s;
}

.logout{
    position: relative;
    display: flex;
    left: 1%;
    top: 7.5%;
    float: right;
    font-weight: 700;
    text-decoration: none; 
}

.sair{
    color: rgb(50, 119, 184);
    transform: scale(2);
    transition: transform .3s;
}

.sair:hover{
    color: rgb(113, 255, 248);
    transform: scale(2.3);
    transition: transform .3s;
}

.top-hud{
    text-align: center;
    font-size: 185%;
    word-spacing: 40px;
    margin-top: 2%;
    margin-left: -1.5%;
    text-transform: capitalize;
}

.links{
    position: relative;
    top: 10px;
    display: inline-block;
    color: rgb(50, 119, 184);
    font-weight: 600;
    transition: .25s;
}

.links:hover{
    color: rgb(72, 211, 211);
    transition: .25s;
    font-weight: 900;
}

.search-bar{
    display: block;
    position: relative;
    z-index: 5;
    float: right;
    margin-top: -6%;
    margin-right: 27.5%;
    font-size: 120%;
    width: 47%;
    border: solid 3px rgb(93, 93, 240);
    color: rgb(255, 255, 255);
    padding: 0.5%;
    transition: .5s;
    outline: none;
    border-radius: 20px;
}

.search-bar:hover{
    transition: .5s;
    border: solid 3px rgb(113, 255, 248);
}

.search-bar:active{
    transition: 10s;
    border: solid 3px red;
}

.populares{
    display: inline-block;
    word-spacing: 3px;
}

.estilos{
    display: inline-block;
    word-spacing: 3px;
}

.instrumentos{
    display: inline-block;
    word-spacing: 3px;
}

.upload{
    display: inline-block;
    word-spacing: 3px;
}

.partitura{
    text-align: center;
    margin-top: 2%;
}

.foca{
    margin-top: -4%;
    border-radius: 17px;
    height: 5%;
    width: 13%;
    transition: 2.5s;
    position: relative;
    z-index: 5;
}

.foca:hover{
    width: 100%;
    height: 90%;
    transition: 10s;
}
#partitura{
    position: relative;
    text-align: center;
    top: 6%;
}

#partitura2{
    position: relative;
    text-align: center;
    top: 7%;
}

#partitura3{
    position: relative;
    text-align: center;
    top: 8%;
}

#partitura4{
    position: relative;
    text-align: center;
    top: 9%;
}

#partitura5{
    position: relative;
    text-align: center;
    top: 10%;
}

#partitura6{
    position: relative;
    text-align: center;
    top: 11%;
}

#partitura7{
    position: relative;
    text-align: center;
    top: 12%;
}

#partitura8{
    position: relative;
    text-align: center;
    top: 13%;
}