*{
    background-color: rgb(36, 42, 61);
    text-decoration: none;
}

.material-icons{
    font-size: 20px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    word-wrap: normal;
    white-space: nowrap;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  }

.logo{
    display: inline-block;
    color: royalblue;
    font-size: 250%;
    font-weight: 800;
    transition: .3s;
}

.logo:hover{
    color: rgb(150, 228, 241);
    font-size: 255%;
    transition: .3s;
}

.top-hud{
    text-align: center;
    font-size: 185%;
    word-spacing: 40px;
    text-transform: capitalize;
}

.links{
    display: inline;
    color: rgb(50, 119, 184);
    font-weight: 600;
    transition: .25s;
}

.links:hover{
    color: yellow;
    transition: .25s;
    font-weight: 900;
}

.search-bar{
    display: block;
    float: right;
    margin-top: -5%;
    margin-right: 0.5%;
    font-size: 120%;
    border: solid 3px rgb(93, 93, 240);
    border-radius: 100px;
    color: rgb(255, 255, 255);
    padding: 0.5%;
    transition: .5s;
    outline: none;
}

.search-bar:hover{
    transition: .5s;
    border: solid 3px rgb(113, 255, 248);
}

.search-bar:active{
    transition: 10s;
    border: solid 3px red;
}

.populares{
    display: inline-block;
    word-spacing: 3px;
}

.estilos{
    display: inline-block;
    word-spacing: 3px;
}

.secreto{
    display: inline-block;
    word-spacing: 3px;
}

.foca{
    margin-top: -30px;
    border-radius: 17px;
    width: 13%;
    height: 5%;
    transition: 2.5s;
}

.foca:hover{
    width: 100%;
    height: 90%;
    transition: 10s;
}

.frase{
    text-align: center;
    font-size: 30px;
    color: aquamarine;
}

.frase2{
    text-align: center;
    font-size: 30px;
    color: aquamarine;
    margin-top: 50px;

}
.hub{
    text-align: center;
    float: right;
    margin-right: 500px;
    
}

.ben10{
    text-align: center;
    float: right;
    margin-right: 500px;
    margin-top: 10px;

}


