*{
    background-color: #242a3d;
    text-decoration: none;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.material-icons{
    font-size: 20px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    word-wrap: normal;
    white-space: nowrap;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  }

.logo{
    display: inline-block;
    color: #4169e1;
    font-size: 250%;
    font-weight: 800;
    transition: .3s;
}

.logo:hover{
    color: rgb(150, 228, 241);
    font-size: 255%;
    transition: .3s;
}

.top-hud{
    text-align: center;
    font-size: 185%;
    word-spacing: 40px;
    margin-top: 2%;
    margin-left: -1.5%;
    text-transform: capitalize;
}

.links{
    position: relative;
    top: 10px;
    display: inline-block;
    color: #3277b8;
    font-weight: 600;
    transition: .25s;
}

.links:hover{
    color: rgb(72, 211, 211);
    transition: .25s;
    font-weight: 900;
}

.search-bar{
    display: block;
    position: relative;
    z-index: 5;
    float: right;
    margin-top: -6%;
    margin-right: 27.5%;
    font-size: 120%;
    width: 47%;
    border: solid 3px rgb(93, 93, 240);
    color: rgb(255, 255, 255);
    padding: 0.5%;
    transition: .5s;
    outline: none;
    border-radius: 20px;
}

.search-bar:hover{
    transition: .5s;
    border: solid 3px rgb(113, 255, 248);
}

.search-bar:active{
    transition: 10s;
    border: solid 3px red;
}

.populares{
    display: inline-block;
    word-spacing: 3px;
}

.estilos{
    display: inline-block;
    word-spacing: 3px;
}

.instrumentos{
    display: inline-block;
    word-spacing: 3px;
}

.upload{
    display: inline-block;
    word-spacing: 3px;
}

.foca{
    margin-top: -5px;
    border-radius: 17px;
    height: 5%;
    width: 13%;
    transition: 2.5s;
    position: relative;
    z-index: 5;
}

.foca:hover{
    width: 100%;
    height: 90%;
    transition: 10s;
}

.user{
    position: relative;
    display: flex;
    left: -6%;
    top: 3%;
    float: right;
    font-weight: 700;
    text-decoration: none; 
}

.login{
    color: rgb(50, 119, 184);
    transform: scale(2.5);
    transition: transform .3s;
}

.login:hover{
    color: rgb(113, 255, 248);
    transform: scale(3);
    transition: transform .3s;
}

.logout{
    position: relative;
    display: flex;
    left: 2%;
    top: 9%;
    float: right;
    font-weight: 700;
    text-decoration: none; 
}

.sair{
    color: rgb(50, 119, 184);
    transform: scale(2);
    transition: transform .3s;
}

.sair:hover{
    color: rgb(113, 255, 248);
    transform: scale(2.3);
    transition: transform .3s;
}

#user_foto{
    width: 12%;
    height: 20%;
    border: 3px solid rgb(50, 119, 184);
    border-radius: 100%;
    margin-top: 5%;
    margin-left: 5%;
}

#sub_foto{
    display: block;
    position: fixed;
    margin-top: 1%;
}

#enviar_foto{
    color: #2c7896;
    border: solid 2px rgb(84, 165, 202);
    padding: 2px 6px;
    transition: all .1s ease-in-out;
}   
#enviar_foto:hover{
    border-color: rgb(50, 70, 184);
}
#enviar_foto:active
{
    color: aqua;
}

#salvar_foto{
    margin-left: 4%;
    margin-top: .7%;
    
    color: #2c7896;
    border: solid 2px rgb(84, 165, 202);
    padding: 2px 5px;
    transition: all .05s ease-in-out;
}
#salvar_foto:hover{
    border-color: rgb(50, 70, 184);
    color: #2c5696;
}
#salvar_foto:active
{
    color: aqua;
    border-color: aquamarine;
}

#proxant{
    display: none;
    padding-top: 1%;
    padding-left: 5%;
}

.mudar-perfil{
    padding-top: 1%;
    padding-left: 7.5%;
    position: fixed;
}

#botaoperfil{
    color: #2c7896;
    border: solid 2px rgb(39, 108, 187);
    padding: 2px 10px;
    transition: all .05s ease-in-out;
}
#botaoperfil:hover{
    border-color: rgb(50, 70, 184);
    color: #2c5696;
}
#botaoperfil:active{
    color: aqua;
    border-color: aquamarine;
}

.infos{
    color: rgb(93, 93, 240);
}

.user-name{
    color: rgb(86, 139, 219);
    position: fixed;
    top: 23%;
    left: 18%;
    font-size: 130%;
}

.member-since{
    position: fixed;
    top: 30%;
    left: 18%;
    font-size: 90%;
}


.m1{
    border: solid 2px rgb(51, 170, 185);
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    margin-left: 14%;
}
.m2{
    border: solid 2px rgb(51, 170, 185);
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    margin-left: 14%;
}
.m3{
    border: solid 2px rgb(51, 170, 185);
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    margin-left: 14%;
}

.fix2{
    margin-top: 30px;
}

.songs-text{
    position: fixed;
    top: 25%;
    left: 58%;
}

.img1{
    width: 5%;
    height: 8%;
    vertical-align: -10%;
    border-radius: 5px;
}
.img2{
    width: 5%;
    height: 8%;
    vertical-align: -10%;
    border-radius: 5px;
}
.img3{
    width: 5%;
    height: 8%;
    vertical-align: -10%;
    border-radius: 5px;
}

.fav-songs{
    transform: scale(2);
    position: fixed;
    left: 55%;
    top: 45%;
    border: 2px solid royalblue;
    border-radius: 5px;
    width: 300px;
    height: 170px;
}

.msc{
    color: rgb(55, 134, 199);
}

.fix{
    transition: all .2s;
}

.fix:hover{
    color: rgb(72, 211, 211);
    border-color: rgb(113, 255, 248);
}

.info-add{
    transform: scale(.8);
    position: absolute;
    width: 200px;
    height: 150px;
    border: solid 3px rgb(55, 45, 185);
    border-radius: 7px;
    top: 55%;
    margin-left: 40px;
    padding-top: 35px;
    padding-left: 15px;
}